{% extends "base_en.html" %}

{% load staticfiles %}

{% block css %}
	<link href="{% static 'inscription/css/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="box">
			<div class="col-lg-12">
				<hr>
				<h1 class="intro-text text-center">Becoming a 
					<strong>ResEl member</strong>
				</h1>
				<hr>
			</div>
		</div>
	</div>

	<h1 class="intro-text">
		<strong>Introduction</strong>
	</h1>
	<hr class="featurette-divider">
	<p>In order to become a ResEl member, you have to accept the above document. Be aware that this document contains vital information, please read it.</p>
	<br>

	<div class="row">
		<div class="col-lg-12">
			<iframe src="{% static 'inscription/docs/reglementinterieur.pdf' %}" width="100%" height="800"></iframe>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="form-horizontal">
				<form action="{% url "en:register" %}" method="post">
			    	{% csrf_token %}
			    	<div class="form-group">
		                <label class="col-sm-3 control-label">Birthdate (optionnal)</label>
		                <div class="col-sm-9">
		                	<input name="birthdate" type="text" class="form-control" placeholder="YYYYMMDD ex: 19959830" maxlength="8">
		                </div>
		            </div>

			        <div class="form-group">
		                <label class="col-sm-3 control-label">Building (optionnal)</label>
		                <div class="col-sm-9">
			                <select name="batiment" class="form-control controls">
			                	<option value="I1">I1</option>
								<option value="I2">I2</option>
								<option value="I3">I3</option>
								<option value="I4">I4</option>
								<option value="I5">I5</option>
								<option value="I6">I6</option>
								<option value="I7">I7</option>
								<option value="I8">I8</option>
								<option value="I9">I9</option>
								<option value="I10">I10</option>
								<option value="I11">I11</option>
								<option value="I12">I12</option>
							</select>
		            	</div>
			        </div>

			        <div class="form-group">
			            <label class="col-sm-3 control-label">Room number (optionnal)</label>
			            <div class="col-sm-9">
			                <input type="number" class="form-control" max="400" min="0" name="roomNumber">
			            </div>
			        </div>

			        <div class="form-group">
			            <label class="col-sm-3 control-label">Phone number (optionnal)</label>
			            <div class="col-sm-9">
			                <input type="number" class="form-control" name="roomNumber" maxlength="10">
			            </div>
			        </div>

			        <div class="form-group">
		                <label class="col-sm-3 control-label">Formation</label>
		                <div class="col-sm-9">
			                <select name="formation" class="form-control controls">
			                	<option value="IG1A">IG 1A</option>
								<option value="IG2A">IG 2A</option>
								<option value="IG3A">IG 3A</option>
							</select>
		            	</div>
			        </div>

			        <div class="form-group">
			            <label class="col-sm-3 control-label">ResEl password</label>
			            <div class="col-sm-9">
			                <input type="password" class="form-control" placeholder="Choose your password" name="userPassword" maxlength="25" required>
			            </div>
			        </div>

			        <div class="form-group">
			        	<div class="col-sm-11">
			        		<span class="button-checkbox">
						        <button type="button" class="btn" data-color="primary">I accept the publication of my coordinates into the ResEl directory</button>
						        <input type="checkbox" class="hidden" name="publiable" />
						    </span>
				        </div>
			        </div>

			        <div class="form-group">
		            	<div class="col-sm-2 col-sm-offset-5">
		                	<button type="submit" class="btn btn-default">Register</button>
		                </div>
		            </div>

				</form>
			</div>
		</div>

		{% if ajout_fait %}
			<div class="col-sm-4">
				<div class="alert alert-success">
					<p>Congrats ! You are now a ResEl member.</p>
					<p>Go back to the <a href="{% url 'en:index' %}">index</a> to manage your devices.</p>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
