ul.social-buttons{
    margin-bottom:0;
}

ul.social-buttons li a{
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#facebook a:hover, #facebook a:focus, #facebook a:active {
    background-color: #3B5998;
}

#twitter a:hover, #twitter a:focus, #twitter a:active {
    background-color: #4099FF;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    line-height: 40px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    text-transform: none;
}