body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: inherit;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer {
    margin: 20px 0;
    color: white;
}

.full {
	background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

img {
	margin-top: -10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.box hr {
    max-width: 400px;
    border-color: #999999;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

ul.social-buttons{
    margin-bottom:0;
}

ul.social-buttons li a{
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#facebook a:hover, #facebook a:focus, #facebook a:active {
    background-color: #3B5998;
}

#twitter a:hover, #twitter a:focus, #twitter a:active {
    background-color: #4099FF;
}