{% extends "base.html" %}

{% block content %}
	{% if inscrit_resel %}
		<p><strong>Vous êtes inscrit au ResEl</strong>.</p>
		{% if machines %}
			<p>Vous avez <strong>{{ machines|length }}</strong> enregistré{{ machines|pluralize:"e,es" }} :</p>
			<table>
				<tr>
					<th>Nom</th>
					<th>Adresse IP</th>
					<th>Adresse MAC</th>
				</tr>
				{% for machine in machines %}
				<tr>
					<td>{{ machine.1.host }}</td>
					<td>172.22.{{ machine.1.ipHostNumber }}</td>
					<td>{{ machine.1.acAddress }}</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>Aucune machine enregistrée à votre nom.</p>
		{% endif %}
	{% else %}
		<p>Vous n'êtes pas encore inscrit au ResEl. Pour vous inscrire, cliquez sur le lien suivant : <a href="{% url 'fr:devenir_membre' %}">Devenir membre du ResEl</a></p>
	{% endif %}
{% endblock %}
