{% extends "base_fr.html" %}

{% load staticfiles %}

{% block css %}
	<link href="{% static 'inscription/css/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="box">
			<div class="col-lg-12">
				<hr>
				<h1 class="intro-text text-center">Contacter 
					<strong>le ResEl</strong>
				</h1>
				<hr>
			</div>
		</div>

		{% if mail_envoye %}
			<div class="col-lg-6 col-lg-offset-3">
				<div class="alert alert-success">
					<p>Votre mail a &eacute;t&eacute; envoy&eacute; aux admins. Vous recevrez une r&eacute;ponse prochainement.</p>
				</div>
			</div>
		{% endif %}
	</div>

	<h1 class="intro-text">
		<strong>En passant par IRC</strong>
	</h1>
	<hr class="featurette-divider">
	<p>IRC est un protocole de messagerie instantan&eacute;e, tr&egrave;s utilis&eacute; par les administrateurs ResEl. Si un administrateur est pr&eacute;sent en ce moment, c'est de cette façon que vous aurez une r&eacute;ponse le plus rapidement.</p>
	<p>Vous pouvez utiliser le webclient IRC du ResEl disponible <a href="https://webirc.resel.fr">ici</a>.</p>
	<br>

	<h1 class="intro-text">
		<strong>En envoyant un mail</strong>
	</h1>
	<hr class="featurette-divider">
	<p>Si aucun administrateur n'est disponible en ce moment, vous pouvez utiliser ce formulaire pour envoyer un mail. Nous en tiendrons compte un peu plus tard. Donnez une br&egrave;ve description de votre probl&egrave;me ou requête dans le corps du texte, et remplissez tous les champs.</p>
	<p>Le mail sera envoy&eacute; imm&eacute;diatement &agrave; <a href="mailto:inscription@resel.fr">inscription@resel.fr</a>.</p>
	<p>Pour les gens logeant &agrave; la MaisEl mais n'ayant pas de compte informatique &agrave; l'&eacute;cole, lorsque vous vous inscrivez (en le demandant par ce formulaire par exemple), vous entrez dans nos bases de donn&eacute;es et un mot de passe temporaire vous est alors communiqu&eacute; (une fois que votre demande d'inscription a &eacute;t&eacute; accept&eacute;e). Il vous servira pour inscrire votre machine sur <a href="{% url 'fr:index' %}">le site d'inscription</a>.</p>
	<br>

	<h1 class="intro-text">
		<strong>Envoi du mail</strong>
	</h1>
	<hr class="featurette-divider">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-horizontal">
				<form action="{% url "fr:contact" %}" method="post">
					{% csrf_token %}
		            <div class="form-group">
		                <label class="col-sm-3 control-label">Nom</label>
		                <div class="col-sm-9">
		                	<input name="nom" type="text" class="form-control" placeholder="Nom" maxlength="30" required data-validation-required-message="Merci d'entrer votre nom">
		                </div>
		            </div>

		            <div class="form-group">
		                <label class="col-sm-3 control-label">Pr&eacute;nom</label>
		                <div class="col-sm-9">
		                	<input name="prenom" type="text" class="form-control" placeholder="Pr&eacute;nom" maxlength="30" required data-validation-required-message="Merci d'entrer votre pr&eacute;nom">
		                </div>
		            </div>

			        <div class="form-group">
		                <label class="col-sm-3 control-label">Mail</label>
		                <div class="col-sm-9">
		                	<input name="mail" type="email" class="form-control" placeholder="Adresse mail" maxlength="50" required data-validation-required-message="Merci d'entrer votre adresse e-mail">
			            </div>
			        </div>

			        <div class="form-group">
		                <label class="col-sm-3 control-label">B&acirc;timent</label>
		                <div class="col-sm-9">
			                <select name="batiment" class="form-control controls">
			                	<option value="I1">I1</option>
								<option value="I2">I2</option>
								<option value="I3">I3</option>
								<option value="I4">I4</option>
								<option value="I5">I5</option>
								<option value="I6">I6</option>
								<option value="I7">I7</option>
								<option value="I8">I8</option>
								<option value="I9">I9</option>
								<option value="I10">I10</option>
								<option value="I11">I11</option>
								<option value="I12">I12</option>
							</select>
		            	</div>
			        </div>

			        <div class="form-group">
			            <label class="col-sm-3 control-label">Chambre</label>
			            <div class="col-sm-9">
			                <input type="number" class="form-control" placeholder="N° de chambre" max="400" min="0" name="chambre" required data-validation-required-message="Merci d'entrer votre num&eacute;ro de chambre">
			            </div>
			        </div>

			        <div class="form-group">
		                <label class="col-sm-3 control-label">Sujet</label>
		                <div class="col-sm-9">
			                <select name="sujet" class="form-control">
			                	<option value="Probleme de connexion au reseau">Probl&egrave;me de connexion au r&eacute;seau</option>
								<option value="Probleme d'inscription">Probl&egrave;me d&#39;inscription</option>
								<option value="Demande d'inscription">Demande d&#39;inscription</option>
								<option value="Perte du mot de passe ResEl">Perte du mot de passe ResEl</option>
								<option value="Autre ...">Autre ...</option>
							</select>
						</div>
					</div>

					<div class="form-group">
		                <label class="col-sm-3 control-label">Description</label>
		                <div class="col-sm-9">
		                	<textarea style="resize: none;" rows="5" class="form-control" placeholder="Description de votre demande" name="description" required data-validation-required-message="Veuillez d&eacute;crire votre probl&egrave;me."></textarea>
		                </div>
			        </div>

					
		            <div class="form-group">
		            	<div class="col-sm-2 col-sm-offset-5">
		                	<button type="submit" class="btn btn-default">Envoyer</button>
		                </div>
		            </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}














