{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="box">
			<div class="col-lg-12">
				<hr>
				<h1 class="intro-text text-center">Contacter 
					<strong>le ResEl</strong>
				</h1>
				<hr>
			</div>
		</div>
	</div>

	<h1 class="intro-text">
		<strong>En passant par IRC</strong>
	</h1>
	<hr class="featurette-divider">
	<p>IRC est un protocole de messagerie instantanée, très utilisé par les administrateurs ResEl. Si un administrateur est présent en ce moment, c'est de cette façon que vous aurez une réponse le plus rapidement.</p>
	<br>

	<h1 class="intro-text">
		<strong>En envoyant un mail</strong>
	</h1>
	<hr class="featurette-divider">
	<p>Si aucun administrateur n'est disponible en ce moment, vous pouvez utiliser ce formulaire pour envoyer un mail. Nous en tiendrons compte un peu plus tard. Donnez une brève description de votre problème ou requête dans le corps du texte, et remplissez tous les champs.</p>
	<p>Le mail sera envoyé immédiatement à <a href="mailto:inscription@resel.fr">inscription@resel.fr</a>.</p>
	<p>Pour les gens logeant à la MaisEl mais n'ayant pas de compte informatique à l'école, lorsque vous vous inscrivez (en le demandant par ce formulaire par exemple), vous entrez dans nos bases de données et un mot de passe temporaire vous est alors communiqué (une fois que votre demande d'inscription a été acceptée). Il vous servira pour inscrire votre machine sur <a href="{% url 'fr:verification' %}">le site d'inscription</a></p>
	<br>

	<h1 class="intro-text">
		<strong>Envoi du mail</strong>
	</h1>
	<hr class="featurette-divider">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<form action="{% url "fr:contact" %}" method="post">
				{% csrf_token %}
				<div class="row control-group">
		            <div class="form-group col-xs-12 floating-label-form-group controls">
		                <label>Nom</label>
		                <input type="text" class="form-control" placeholder="Nom" maxlength="30" required data-validation-required-message="Merci d'entrer votre nom">
		                <p class="help-block text-danger"></p>
		            </div>
		        </div>

		        <div class="row control-group">
		            <div class="form-group col-xs-12 floating-label-form-group controls">
		                <label>Pr&eacute;nom</label>
		                <input type="text" class="form-control" placeholder="Prénom" maxlength="30" required data-validation-required-message="Merci d'entrer votre prénom">
		                <p class="help-block text-danger"></p>
		            </div>
		        </div>

		        <div class="row control-group">
		            <div class="form-group col-xs-12 floating-label-form-group controls">
		                <label>Mail</label>
		                <input type="email" class="form-control" placeholder="Adresse mail" maxlength="50" required data-validation-required-message="Merci d'entrer votre adresse e-mail">
		                <p class="help-block text-danger"></p>
		            </div>
		        </div>

		        <div class="row control-group">
		            <div class="form-group col-xs-12 floating-label-form-group controls">
		                <label>B&acirc;timent</label>
		                <select name="batiment" class="form-control">
		                	<option value="I1">I1</option>
							<option value="I2">I2</option>
							<option value="I3">I3</option>
							<option value="I4">I4</option>
							<option value="I5">I5</option>
							<option value="I6">I6</option>
							<option value="I7">I7</option>
							<option value="I8">I8</option>
							<option value="I9">I9</option>
							<option value="I10">I10</option>
							<option value="I11">I11</option>
							<option value="I12">I12</option>
						</select>
		            </div>
		        </div>

		        <div class="row control-group">
		            <div class="form-group col-xs-12 floating-label-form-group controls">
		                <label>Chambre</label>
		                <input type="number" class="form-control" placeholder="N° de chambre" max="400" min="0" name="chambre" required data-validation-required-message="Merci d'entrer votre numéro de chambre">
		                <p class="help-block text-danger"></p>
		            </div>
		        </div>

		        <div class="row control-group">
		            <div class="form-group col-xs-12 floating-label-form-group controls">
		                <label>Sujet</label>
		                <select name="sujet" class="form-control">
		                	<option value="Problème de connexion au réseau">Problème de connexion au réseau</option>
							<option value="Problème d&#39;inscription">Problème d&#39;inscription</option>
							<option value="Demande d&#39;inscription">Demande d&#39;inscription</option>
							<option value="Perte du mot de passe ResEl">Perte du mot de passe ResEl</option>
							<option value="Autre ...">Autre ...</option>
						</select>
					</div>
				</div>

				<div class="row control-group">
		            <div class="form-group col-xs-12 floating-label-form-group controls">
		                <label>Description</label>
		                <textarea rows="5" class="form-control" placeholder="Description de votre demande" name="description" required data-validation-required-message="Please enter a message."></textarea>
		                <p class="help-block text-danger"></p>
		            </div>
		        </div>

				<br>
		        <div class="row">
		            <div class="form-group col-xs-12">
		                <button type="submit" class="btn btn-default">Envoyer</button>
		            </div>
		        </div>
			</form>
		</div>
	</div>
{% endblock %}














