{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="box">
			<div class="col-lg-12">
				<hr>
				<h1 class="intro-text text-center">Contacter le ResEl</h1>
				<hr>
			</div>
		</div>
	</div>
	<h2>En passant par IRC</h2>
	<p>IRC est un protocole de messagerie instantanée, très utilisé par les administrateurs ResEl. Si un administrateur est présent en ce moment, c'est de cette façon que vous aurez une réponse le plus rapidement.</p>

	<h2>Envoyer un mail</h2>
	<p>Si aucun administrateur n'est disponible en ce moment, vous pouvez utiliser ce formulaire pour envoyer un mail. Nous en tiendrons compte un peu plus tard. Donnez une brève description de votre problème ou requête dans le corps du texte, et remplissez tous les champs.</p>
	<p>Le mail sera envoyé immédiatement à <a href="mailto:inscription@resel.fr">inscription@resel.fr</a>.</p>
	<p>Pour les gens logeant à la MaisEl mais n'ayant pas de compte informatique à l'école, lorsque vous vous inscrivez (en le demandant par ce formulaire par exemple), vous entrez dans nos bases de données et un mot de passe temporaire vous est alors communiqué (une fois que votre demande d'inscription a été acceptée). Il vous servira pour inscrire votre machine sur <a href="{% url 'fr:verification' %}">le site d'inscription</a></p>
	<form action="{% url "fr:contact" %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Envoyer" />
	</form>
{% endblock %}
