{% extends "base_fr.html" %}

{% block content %}
	<div class="row">
		<div class="box">
			<div class="col-lg-12">
				<hr>
				<h1 class="intro-text text-center"> 
					<strong>Réactivation de votre machine</strong>
				</h1>
				<hr>
			</div>
		</div>
	</div>

	<p>Votre machine n'avait pas été vue depuis un certain temps sur le réseau. Pour des raisons de sécurité et de taille de données à traiter, nous l'avions désactivée.</p>
	<p>Nous l'avons réactivée automatiquement. Veuillez réinitialiser votre connexion (en débranchant/rebranchant le câble ethernet par exemple).</p>
{% endblock %}
